@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Prevent zoom on mobile input focus */
input, textarea, select {
  font-size: 16px;
  touch-action: manipulation;
}